<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shequ.mapper.QuestionMapper">

    <select id="findAllQuestion" resultType="com.shequ.pojo.Question">
         select q.*
         from question q
         inner join sur_que sq
         on sq.qid = q.id
         inner join survey s
         on sq.su_id = s.id
         where sq.su_id =#{arg0}
    </select>

    <select id="findAllQuestions" resultType="com.shequ.pojo.Question">
      select id,content from question
    </select>

    <select id="findAllQuestionsByPage" resultType="com.shequ.pojo.Question">
      select id,content from question limit #{arg0},#{arg1}
    </select>

    <insert id="insertQuestion">
        insert into question(content)
        values(#{content})
    </insert>

    <delete id="deleteQuestionById">
       delete from question
       where id = #{arg0}
    </delete>

    <update id="updateQuestionById">
      update question
      set content = #{content}
      where id = #{id}
    </update>


</mapper>