# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\备份\Idea Source\Metro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
